{% extends "routine/layout.html" %}
{% load static %}

{% block body %}
    {% csrf_token %}
    <div class="container-fluid">
        <div id="div_index" class="page px-5">
            <p>
                Bienvenido a la aplicación <strong>CaliRoad</strong>, plataforma que te permitirá conocer los ejercicios de la Calistenia,
                armar y planificar tus entrenamientos semanales, registrar tus resultados y compartirlos con
                los demás usuarios. Desarrolla tu potencial en compañia de otros y disfruta del proceso ! ∩▂∩
            </p>
            {% if user.is_authenticated %}
            <p>
                <strong>Modo de uso</strong>
            </p>
            <ul class="list-group">
                <li class="list-group-item"><strong>Exercises:</strong> Aquí puedes ver el listado de ejercicios existentes. Pincha el que quieras para más información.</li>
                <li class="list-group-item"><strong>My Routine:</strong> Aquí puedes ver tu rutina. Puedes planificar tus ejercicios de forma semanal agregando o quitando ejercicios en los días que tu eligas y definiendo la cantidad de series y repeticiones a realizar</li>
                <li class="list-group-item"><strong>Results</strong> Aquí puedes registrar los resultados de tus entrenamientos para llevar un registro de tu progreso.</li>
                <li class="list-group-item"><strong>Other Routine</strong>Aquí podrás buscar los entrenamientos y resultados de otros usuarios con la finalidad de ajustar tus entrenamientos.</li>
            </ul>
            {% else %}
            <p>
                Para poder acceder a todo el potencial de la aplicaciones debes identificarte con tus credenciales
            </p>
            <p>   
                Si aún no tienes una cuenta, puedes crearte un usuario haciendo click <a href="{% url 'register' %}">aquí</a>
            </p>
            {% endif %}
        </div>

        <div id="div_exercise" class="page">
            
        </div>

        <div id="div_my_routine" class="page">
            
        </div>

        <div id="div_results" class="page">

        </div>

        <div id="div_others" class="page">

        </div>

        <div class="form-popup form-group page" id="myForm">
            <form class="form-container">
                <h1></h1>
                <div class="row mt-1">
                    <div class="col">
                        <input type="submit" class="btn submit" id="submit_form"></button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn cancel" id="close_form" onclick="close_menu_to_add()">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="{% static 'routine/javascript.js' %}"></script>
{% endblock %}